<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="bg-dark" style="padding-top: 4rem;">
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <h5 style="color: green;text-align: center;">
                        <img src="https://ddc.moph.go.th/viralpneumonia/img/p1.jpg" alt="" style="width:100%">
                    </h5>
                    <h5 style="color: red;text-align: center;">
                        <b>หลีกเลี่ยงการเดินทางที่ไม่จำเป็น</b>
                    </h5>
                    <div style="text-align: justify; font-size: 0.8rem;">
                        <h6 style="color: blue;"><b>ประเด็นสำคัญ</b></h6>
                        <div style="text-align: justify;">
                            <p>• ขณะนี้มีการระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 (COVID-19) มีการระบาดใหญ่
                                (Pandemic) ไปทั่วโลก
                                (ตามประกาศขององค์การอนามัยโลก, 11 มีนาคม 2563)
                                ขอให้ประชาชนและผู้ที่จะเดินทางไปต่างประเทศติดตามสถานการณ์อย่างใกล้ชิด
                                รวมทั้งให้ความร่วมมือ
                                และปฏิบัติตามคำแนะนำต่างๆ เพื่อความปลอดภัยทั้งของตนเองและผู้อื่น
                                รวมทั้งลดผลกระทบในด้านเศรษฐกิจและสังคม</p>
                            <p>• <b>ผู้เดินทางมาจากเขตติดโรคติดต่ออันตราย</b>เดินทางเข้าประเทศไทย
                                ต้องแสดงใบรับรองแพทย์ตามเงื่อนไขที่กำหนด และหลักฐานการทำประกันสุขภาพ
                                ให้กับสายการบินก่อนการเช็คอินที่สนามบินต้นทาง
                                <a target="_blank" href="https://ddc.moph.go.th/viralpneumonia/ind_danger.php">&nbsp;<b>อ่านเพิ่มเติม</b></a></p>
                            <p>• <b>ผู้เดินทางมาจากพื้นที่มีการระบาดต่อเนื่อง</b>เข้าประเทศไทย
                                จะถูกคุมไว้สังเกตอาการภายในที่พักอาศัย
                                14
                                วัน
                                <a target="_blank" href="https://ddc.moph.go.th/viralpneumonia/ind_outbreak.php">&nbsp;<b>อ่านเพิ่มเติม</b></a></p>
                            <p>• <b>ผู้เดินทางมาจากพื้นที่อื่น</b> ให้ดูแลสุขภาพ สุขอนามัย และป้องกันตนเอง
                                พร้อมทั้งหลีกเลี่ยงสถานที่แออัด
                                <a target="_blank" href="https://ddc.moph.go.th/viralpneumonia/ind_others.php">&nbsp;<b>อ่านเพิ่มเติม</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>