/* .css-1mxp76p{font-weight:400;font-size:1.2rem;margin-bottom:-4px;} */

@font-face {
    font-family: 'Kanit';
    src: url(./assets/font/Kanit-Regular.ttf);
}

.row {
    margin: 0rem;
    font-family: 'Kanit';
}

.layout-head {
    font-size: 1.2rem; 
    line-height: 0rem;
}

.world {
    background-image: url("./assets/pic/world.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-container {
    display: inline-block;
    float: left;
    width: 100%;
    background-color: white;
}

.head {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 7vw;
    padding-top: 1rem;
}
.moph {
    width: 10%;
}
.sum-box1-1 {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    height: 50vw;
    border-radius: 0.5rem;
}
.sum-box1-2 {
    padding: 0em;
    margin: 0em;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sum-box1-3 {
    padding: 0rem;
    margin: 0rem;
    font-size: 4rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sum-box1-4 {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sum-box2-1 {
    border-radius: 0.5rem;
    margin: 0rem;
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    height: 32vw;
}
.sum-box2-2 {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sum-box2-3 {
    width: 100%;
    margin: 0rem;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    float: left;
}
.sum-box2-4 {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.margin-mobile-top {
    margin-top: 0.5em;
}
.margin-mobile-left-right {
    margin-left: 0em;
    margin-right: 0em;
}

.card-mobile{
    padding: 0.5rem;
}

.refer{
    font-size: 0.5rem;
    color: white;
}
.color-red{
    color: rgb(216, 30, 37);
}

.color-pink{
    color: rgb(232, 87, 103);
}

.color-brown{
    color: rgb(230, 161, 74);
    
}

.color-green{
    color: rgb(156, 182, 44);
}

.color-bule{
    color: rgb(59, 151, 144);

}

.background-red{
    background: rgb(216, 30, 37);
}

.background-pink{
    background: rgb(232, 87, 103);
}

.background-brown{
    background: rgb(230, 161, 74);
    
}

.background-green{
    background: rgb(156, 182, 44);
}

.background-bule{
    background: rgb(59, 151, 144);

}

.text-country {
    color: white;
}

.text-update {
    color: white;
    font-size: 0.7rem;
    float: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.news {
    display: inline-block;
    float: left;
    width: 100%;
}

.text-new-head {
    color: white;
    font-size: 0.8rem;
}

.text-new-detail {
    color: gray;
    font-size: 0.3rem;
}

.new-pic {
    width: 100%;
}

.topic-text {
    color: black;
    font-size: 1.5rem;
    font-family: 'Kanit';
    text-align: center;
    background-color: white;
    border: 1px white double;
    padding: 1.75rem;
}

.watch-out-text{
    color: white;
    font-size: 1rem;
    font-family: 'Kanit';
    text-align: center;
    border: 1px white double;
    padding: 1rem 0rem 1rem 0rem;
}

.watch-out-number{
    font-size: 2rem;
    font-family: 'Kanit';
}

.bottom-navbar {
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .layout-head {
        font-size: 2rem; 
        line-height: 0rem;
    }

    .world {
        background-image: url("./assets/pic/world.png");
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
    }

    .text-update {
        color: white;
        font-size: 1rem;
        float: left;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .sum-box1-1 {
        padding: 0rem;
        margin: 0rem;
        width: 100%;
        height: 50vw;
        border-radius: 0.5rem;
    }

    .sum-box2-1 {
        border-radius: 0.5rem;
        margin: 0rem;
        font-weight: 500;
        font-size: 1em;
        width: 100%;
        height: 32vw;
    }
    
    .margin-mobile-left-right {
        margin-left: 0em;
        margin-right: 0em;
    }
  }